* {
  padding: 0;
  margin: 0;
}
$font:1em;
$black-alpha: rgba(0, 0, 0, 0.3);
$black-alpha-2: rgba(0, 0, 0, 0.4);

body {
  background-color: $black-alpha;
  background-image: linear-gradient(45deg, $black-alpha 24%, $black-alpha-2 25%, $black-alpha-2 26%, $black-alpha 26%, $black-alpha 74%, $black-alpha-2 75%, $black-alpha-2 76%, $black-alpha 76%),
  linear-gradient(-45deg, $black-alpha 24%, $black-alpha-2 25%, $black-alpha-2 26%, $black-alpha 26%, $black-alpha 74%, $black-alpha-2 75%, $black-alpha-2 76%, $black-alpha 76%);
  background-size: 100px 100px;
}


#Glass {
  color: #fff;
  box-shadow: 0px 0px 5px #fff;
  background-color: rgba(28, 49, 78, 0.37);
  color: rgb(65, 73, 83);
  text-shadow:
      1px 0 1px #000,
      0 1px 1px #000,
      0 -1px 1px #000,
      -1px 0 1px #000;
}

.zhong {
  text-align: center;
  font-size: $font;
  padding: 5% ;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1{
  font-size: 3em;
  margin-bottom: 1em ;
  }
p{
  text-align: left;
  line-height: 2em;
}
